
<div *ngIf="task">
  <h2>
    Description de la tache : {{task.description}}
  </h2>
  <p>Durée estimée de la tache : {{task.temps}}</p>
  <div >
    <label>Id: </label>
    <input [(ngModel)]="task.id" placeholder="{{task.id}}"><br>
      <label>description: </label>
      <input [(ngModel)]="task.description" placeholder="{{task.description}}"><br>
      <label>Temps: </label>
      <input [(ngModel)]="task.temps" placeholder="{{task.temps}}">
    </div>
    <button (click)="goBack()">Back</button>
</div>
