
<h2>My Story</h2>
<p>Description: {{story.description}}</p>
<p>Effort: {{story.effort}}</p>
<ul class="tasks"> Liste des tâches
  <li *ngFor="let task of tasks" [class.selected]="task === selectedTask" (click)="onSelect(task)">
    <span class="badge">{{task.id}}</span>
    <span>{{task.description}} - {{task.temps}}</span>
    <button class="delete"(click)="delete(task); $event.stopPropagation()">x</button>
  </li>
</ul>
<!--<app-task [task]="selectedTask">a task</app-task>-->
<div *ngIf="selectedTask">
  <h2>
    la tâche sélectionnée est: {{selectedTask.description}} et dure {{selectedTask.temps}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>description de la tâche :</label> <input #taskName />
  <label>Temps estimé :</label> <input #taskTime />
  <button (click)="add(taskName.value, taskTime.value); taskName.value=''; taskTime.value=''" >
    Add
  </button>
</div>
